* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --lightBlack-clr: #646464;
  --light-clr: #e0dfdf;
}

html,
body {
  overflow-x: clip;
  /* border: 2px solid red; */
}

.like-comment-share :hover {
  cursor: pointer;
  /* background: #c8dffb; */
  /* color: #ff1900; */
}

.form-control:focus {
  box-shadow: none;
}

.bg-image {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  /* border: 2px solid red; */
}

.pre {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: absolute;
  top: 0;
}

textarea {
  overflow: hidden;
  resize: none;
  height: 30px;
  outline: none;
}

.animate-rotate {
  animation: rotateBtn 0.5s ease forwards;
}

.none-scroller::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.status-parent {
  scroll-behavior: smooth;
}

.status-parent::-webkit-scrollbar {
  display: none;
}

.status-item {
  width: clamp(60px, 10vw, 80px);
  height: clamp(60px, 10vw, 80px);
  border-radius: 50%;
  flex-shrink: 0;
}

.status-ring {
  width: 100%;
  height: 100%;
  border-radius: 50%;

  padding: 3px;
  position: relative;
}

.status-ring-grad {
  background: conic-gradient(
    from 0deg,
    #f000ff,
    #ff007b,
    #ff006f,
    #e600ff,
    #f000ff
  );
}

.none-status {
  background: conic-gradient(from 0deg, #9a939a, #e4dbdf, #9a939a, #9a939a);
}

.admin-none-status {
  background: conic-gradient(from 0deg, #9a939a, #e4dbdf79, #9a939a00);
}

.status-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  border: 3px solid #fff;
}

.btn-tool > div {
  /* font-size: clamp(4px, 4vw, 1.2rem) !important; */
  min-width: max-content !important;
  font-style: oblique;
  text-shadow: 0 0 0 10px red;
  font-variant: small-caps;
}

@keyframes rotateBtn {
  50% {
    transform: scale(2);
  }
}

.on-hover-userid:hover {
  text-decoration: underline;
  cursor: pointer;
}

.accordion-button:not(.collapsed),
.accordion-button:focus {
  box-shadow: none !important;
  border-radius: 0;
}

.form-lable {
  min-width: 64px;
}

.vibe-ring {
  border-radius: 50%;
}

.navbar-toggler {
  /* border: 2px solid red !important; */
  border: none;
  box-shadow: none !important;
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 0 !important;
}

.bg-for-readyUrl {
  max-width: 600px;
  aspect-ratio: 6/7;
  z-index: 1000;
  flex-shrink: 0;
  white-space: pre-wrap;
  resize: none;
  background-repeat: no-repeat !important;
}

.active_search:focus {
  outline: none;
  border: 1px solid #76b4e8 !important;
}

.theme-icon {
  transition: opacity 0.4s ease-in-out;
  opacity: 1;
}

.theme-icon.fade-out {
  opacity: 0.2;
}
