* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  overflow-x: hidden;
}

:root {
  --lightBlack-clr: #646464;
  --light-clr: #e0dfdf;
}

.like-comment-share :hover {
  cursor: pointer;
  /* background: #c8dffb; */
  /* color: #ff1900; */
}

.form-control:focus {
  box-shadow: none;
}

.bg-image {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  /* border: 2px solid red; */
}

.pre {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: absolute;
  top: 0;
}

textarea {
  overflow: hidden;
  resize: none;
  height: 30px;
  outline: none;
}

.animate-rotate {
  animation: rotateBtn 0.5s ease forwards;
}

@keyframes rotateBtn {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(0deg) scale(2.6);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
