html,
body {
  background: #000;
}

/* Hide scrollbar when active */
.no-scroll::-webkit-scrollbar {
  width: 0 !important;
}

.no-scroll {
  overflow: hidden !important;
}

.class {
  border: 2px solid red;
}

.user-update {
  height: 100vh;
  translate: 0 5px;
  min-width: max-content;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

option {
  padding: 2px !important;
}

.props-btn {
  font-size: 14px !important;
  padding: 5px !important;
  height: 30px;
  min-width: 28px;
  display: flex !important;
  align-items: center !important;
  justify-content: center;
  border-radius: 0;
}

input[type="number"]:focus {
  outline: none;
  border: none;
}

.search-bar {
  height: 54px !important;
}

input::placeholder {
  color: #aaa !important;
}

textarea::placeholder {
  color: #aaa !important;
}

.format-toolbar {
  display: flex;
  gap: 4px;
  padding: 8px;
  background: #242424;
  border: 1px solid #242424;
  border-radius: 4px;
  flex-wrap: wrap;
  color: white;
}

.toolbar-item {
  display: flex;
  align-items: center;
  color: white;
}

.toolbar-button {
  padding: 6px 10px;
  border: 1px solid #2f2f2f;
  background: rgb(28, 28, 28);
  cursor: pointer;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 36px;
  color: rgb(211, 209, 209);
}

.toolbar-button:hover {
  background: #1f1f1f;
}

.toolbar-button.active {
  background: #000000;
  border-color: #454545;
  color: #ffffff;
}

.font-dropdown {
  padding: 5px;
  border: 1px solid #242424;
  border-radius: 3px;
}
