/* Hide scrollbar when active */
.no-scroll::-webkit-scrollbar {
  width: 0 !important;
}

.class {
  border: 2px solid red;
}

.nav-item > .nav-link {
  border: 1px solid transparent;
}

.LeftNavbar .nav-link.active,
.BottomNav .nav-link.active {
  border: 1px solid #c609df;
  background: none !important;
}

.toolbar-pr .active {
  background: #6b0ad2 !important;
}

.br {
  border: 1px solid rgba(0, 0, 0, 0);
}

.user-update {
  height: 100vh;
  translate: 0 5px;
  /* min-width: fit-content; */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

option {
  padding: 2px !important;
}

.props-btn {
  font-size: 14px !important;
  padding: 5px !important;
  height: 30px;
  min-width: 28px;
  display: flex !important;
  align-items: center !important;
  justify-content: center;
  border-radius: 0;
}

input[type="number"]:focus {
  outline: none;
  border: none;
}

.search-bar {
  height: 54px !important;
}

input::placeholder {
  color: #aaa !important;
}

textarea::placeholder {
  color: #aaa !important;
}

.format-toolbar {
  display: flex;
  gap: 4px;
  padding: 8px;
  background: #242424;
  border: 1px solid #242424;
  border-radius: 4px;
  flex-wrap: wrap;
  color: white;
}

.toolbar-item {
  display: flex;
  align-items: center;
  color: white;
}

.toolbar-button {
  padding: 6px 10px;
  border: 1px solid #1e1e1e;
  background: rgb(35, 35, 35);
  cursor: pointer;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 36px;
  color: rgb(211, 209, 209);
}

.toolbar-button:hover {
  background: #1f1f1f;
}

.toolbar-button.active {
  background: #6b0ad2;
  border-color: #454545;
  color: #ffffff;
}

.font-dropdown {
  padding: 5px;
  border: 1px solid #242424;
  border-radius: 3px;
}

/* ---------------------------------------- Vibe Tabs ---------------------------------------------- */

.vibeTabs .nav-tabs .nav-link {
  padding: 4px 1rem;
  border-radius: 5px;
  background: var(--bg1);
  color: var(--tc1);
  min-width: max-content;
}

.vibeTabs .nav-tabs .nav-link.active {
  background: var(--tc1) !important;
  color: var(--bg1);
}

.accordion-button {
  padding: 12px !important;
}

.no-scroll {
  overflow: hidden !important;
}

.react-rnd {
  touch-action: none; /* prevent scroll interference */
  -webkit-user-drag: none; /* prevent ghost image drag */
}
